


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #082032;
}

.wrapper{
    display: flex;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
}


.dynamic-txts li{
    list-style: none;
    color: aqua;
    font-size: 60px;
    font-weight: 500;
    position: relative;
}

.dynamic-txts li::after{
    content: "";
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #082032;
    border-left: 2px solid rgb(179, 62, 62);
    animation: typing 3s steps(10) infinite ;
}


@keyframes typing {
    40%,
    60%{
        left: calc(90% + 30px);
    }
    100%{
        left: 0;
    }
}
